extends default

block content
  .page-title-container
    h2.page-title Links úteis
    p O conteúdo dos links abaixo se encontram em português

  each section, index in linksSection.links
    .panel-group.custom-accordion#accordion(role="tablist" aria-multiselectable="true")
      .panel.panel-default
        .panel-heading(
          role="tab"
          id="heading-" + index
          data-toggle="collapse"
          data-parent="#accordion"
          href="#collapse-" + index
          aria-expanded="true"
          aria-controls="collapse-" + index
        )
          .section-title= section.title

        .panel-collapse.collapse.out(
          id="collapse-" + index
          role="tabpanel"
          aria-labelledby="heading-" + index
        )
          ul.link-list
            each link in section.links
              li
                a(href=link.url target="_blank")= link.title
                if link.description
                  p= link.description
